html,
body,
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin: 2rem;
  }

  .cards{
    width: 20rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 5rem;
    background-color: #F2B7C6;
    position: relative;
    transition: 0.5s;
    box-shadow: 5px 5px 5px 1px #EB9486;
    
}
.cards:hover {
    transform: translateY(-15px);
}
.pic{
    width: 15%;
    height: 30%;
    align-items: center;
    display:flex;
    justify-content: space-evenly;
}