html,
body,
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin: 2rem;
  }

.pic{
    width: 15%;
    height: 30%;
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    margin: auto;
}

.cards{
  border-radius: 5px;
}